%body
  = render 'rooms/header-narrow'
  .room-booking
    .room-booking_content
      .room-booking_content_left-content
        .room-booking_content_left-content_title
          = @room.name
        .room-booking_content_left-content_payment
          #{@room.location.city}, #{@room.location.prefecture}, #{@room.location.country}
      .room-booking_content_booking
        .room-booking_content_booking-bar
          ¥#{@room.price.price}
          %span#price /1泊
        .room-booking_content_booking-box
          .room-booking_content_booking-box_info
            = form_for [@room, @booking], url: booking_path do |f|
              .room-booking_content_booking-box_info_check-in
                .room-booking_content_booking-box_info_check-in-text チェックイン
                .room-booking_content_booking-box_info_check-in-date
                  =f.date_select :check_in, {}, class: "select-default"
              .room-booking_content_booking-box_info_check-out
                .room-booking_content_booking-box_info_check-out-text チェックアウト
                .room-booking_content_booking-box_info_check-out-date
                  = f.date_select :check_out
              .room-booking_content_booking-box_info_check-guest
                .room-booking_content_booking-box_info_check-guest-text ゲスト
                .room-booking_content_booking-box_info_check-guest-number
                  = f.select :guest, [["選択する", "null"], ["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"], ["11", "11"], ["12", "12"], ["13", "13"], ["14", "14"], ["15", "15"], ["16", "16"]], {}, class: "select-default"
                  = f.submit "予約をリクエスト"
