%body
  = render 'rooms/header-narrow'
  .room-booking
    .room-booking_content
      .room-booking_content_left-content
        .room-booking_content_left-content_payment 支払い
        = form_for @booking do |f|
          .room-booking_content_left-content_cash-back-1 部分返金可
          .room-booking_content_left-content_cash-back-2 現地時間 #{@booking.check_in.ago(7.days).strftime('%m月%d日')}の16時までにキャンセルすれば ¥#{(@room.price.price * 0.75).floor} 返金されます。それ以降の事前キャンセルでは清掃料金とサービス料のみ返金されます。
          .room-booking_content_left-content_country 請求先住所の国
          = f.select :billing_address, [["選択する", "null"], ["日本", "日本"]], {}, class: "select-default"
          .room-booking_content_left-content_card-info お支払い種別
          = f.select :card_number, [["選択する", "null"], ["1234567890", "1234567890"]], {}, class: "select-default"
          .room-booking_content_left-content_card-expiration-date 有効期限: 05/21
          .room-booking_content_left-content_card-house-rules ハウスルール、キャンセルポリシー：厳格、ゲスト返金ポリシーに同意します。表示中の、サービス料を含む合計金額を支払うことにも同意します。
          = f.submit "確認して支払う", class: "next-page"
      .room-booking_content_booking
        .room-booking_content_booking_picture
          = image_tag(@room.image.url)
        .room-booking_content_booking-info
          .room-booking_content_booking-info-host ホストは#{@room.user.name}さん
          .room-booking_content_booking-info-name #{@room.name}
          .room-booking_content_booking-info-category #{@room.information.room_category}
          .room-booking_content_booking-info-location #{@room.location.city}, #{@room.location.prefecture}, #{@room.location.country}
          .room-booking_content_booking-info-check-in
            .room-booking_content_booking-info-check-in-date チェックイン
            %p
              20#{@booking.check_in.strftime('%y年%m月%d日')}
          .room-booking_content_booking-info-check-out
            .room-booking_content_booking-info-check-out-date チェックアウト
            %p
              20#{@booking.check_out.strftime('%y年%m月%d日')}
          .room-booking_content_booking-info-price
          .room-booking_content_booking-info-price-total 合計額
          .room-booking_content_booking-info-price-price ¥#{@room.price.price} JPY
