.log-in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .log-in_email
      = f.email_field :email, placeholder: "メールアドレス", autofocus: true
    .log-in_password
      = f.password_field :password, placeholder: "パスワードを入力してください", autocomplete: "off"
      .log-in_check-box
        = f.check_box :remember_me
      .log-in_remember-me
        = f.label :remember_me, "ログイン情報を記憶する", id: 'label_remember_me'
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "パスワードをお忘れですか？", new_password_path(resource_name)
    .log-in_submit
      = f.submit "ログイン", id: 'log-in_submit'
    .log-in_sign-up
      アカウントをお持ちではないですか？
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to "登録", new_registration_path(resource_name), id: "sign-up-btn"
