.header
  .header_top
    .header_top_logo
      .header_top_logo_airbnb
        = link_to root_path do
          = image_tag "logo.png"
    .header_top_search
      .header_top_search_box-a どこでも
      .header_top_search_box-a いつでも
      .header_top_search_box-b 宿泊1人
    .header_top_right-contents
      .header_top_right-contents_be-host
      - if user_signed_in?
        = link_to "ホストになる", new_user_room_path(current_user.id), id: 'be_host'
      .header_top_right-contents_your-trip 旅行
      .header_top_right-contents_your-messages メッセージ
      .header_top_right-contents_help ヘルプ
      - if user_signed_in?
        .header_top_right-contents_mypage

          = link_to "マイページ", "/users/#{current_user.id}"
        .header_top_right-contents_log-out
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
      - else
        .header_top_right-contents_account
          = link_to "アカウント作成", new_user_registration_path
        .header_top_right-contents_log-in
          = link_to "ログイン", new_user_session_path
