%body
  .header-room
    .header-room_top
      .header-room_top_logo
        .header-room_top_logo_airbnb
          = link_to root_path do
            = image_tag "logo2.png"
      .header-room_top_step ステップ2: 次に住所を入力
  .host-room
    .host-room_contents
      %h3 住所を入力してください。
      .host-room_contents_hosting
        = form_for [:room, @location] do |f|
          .host-room_contents_hosting-question1 国
          = f.select :country, [["選択する", "null"],["日本", "日本"]], {}, class: "select-default"
          .host-room_contents_hosting-question2 郵便番号
          = f.text_field :postal_code, autofocus: true, placeholder: "例: 123-4567", class: "select-default"
          .host-room_contents_hosting-question2 都道府県
          = f.select :prefecture, [["選択する", "null"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["千葉県", "千葉県"], ["埼玉県", "埼玉県"], ["茨城県", "茨城県"], ["群馬県", "群馬県"], ["栃木県", "栃木県"]], {}, class: "select-default"
          .host-room_contents_hosting-question2 市区町村
          = f.text_field :city, autofocus: true, placeholder: "例: 渋谷区宇田川町", class: "select-default"
          .host-room_contents_hosting-question2 所番地
          = f.text_field :street_address, autofocus: true, placeholder: "例: 24-1", class: "select-default"
          .host-room_contents_hosting-question2 建物名・部屋番号（任意）
          = f.text_field :building, autofocus: true, placeholder: "例: 高木ビルディング", class: "select-default"
          = link_to "←戻る", new_user_room_path(current_user.id), class: "back-page"
          = f.submit "次へ", class: "next-page"
    .host-room_picture
      = image_tag "hosting-side-image2"
